/* Variables CSS */
:root {
    --dark-orchid: rgba(185, 92, 255, 0.7);
    --dark-blue: #006BA6;
    --light-blue: #0496FF;
    --yellow: #FFC857;
    --dark-back: #262626;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", sans-serif;
}


.container {
    min-height: 100vh;
    background: var(--dark-back);
}

header {
    color: white;
    text-align: center;
    padding: 15px;
}

header h3 {
   font-size: 28px;
    color: #a6a3af;
}

.title {
    font-family: "Brush Script MT", sans-serif;
    font-size: 72px;
    background: -webkit-linear-gradient(90deg, var(--light-blue), var(--dark-orchid));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

form .value-task {
    border: 2px solid white;
    flex: 0.3;
    border-radius: 18px 0 0 18px;
    outline: none;
    border-right: none;
    transition: all 0.5s ease;
}

form .value-task:focus + .submit-btn {
    border: 2px solid var(--dark-orchid);
    border-left: none;
}

form .value-task:focus {
    border: 2px solid var(--dark-orchid);
    border-right: none;
}

form .submit-btn {
    border: 2px solid white;
    border-radius: 0 20px 20px 0;
    transition: all 0.5s ease;
    cursor: pointer;
    border-left: none;
}

form .submit-btn:hover {
    background-color: var(--dark-orchid);
}

form {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

form .value-task, form .submit-btn {
    padding: 0.8rem;
    font-size: 24px;
    color: white;
    background: var(--dark-back);
}

/* Todo element */

#todo-container {
    margin: 4em 25%;
    background-color: #75757542;
    padding: 5px 20px;
    border-radius: 18px;
}

.todo-element {
    background-color: rgba(80,80,91,0.18);
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    flex-wrap: wrap;
    margin: 1em auto;
    color: white;
    border-radius: 12px;
}

.todo-element .check-btn, .edit-btn, .delete-btn {
    border: none;
    color: white;
    padding: 1.2rem;
    cursor: pointer;
}

.todo-element .text-task {
   margin-left: 15px;
}

.delete-btn {
    background-color: #ff4567;
    border-radius: 0px 12px 12px 0;
}

.edit-btn {
    background-color: #22b4ff;
}

.check-btn {
    background-color: #52ff9f;
}

.text-task {
   flex: 1;
}

h4 {
    color: white;
    text-align: center;
    font-size: 24px;
    font-family: "Trebuchet MS", sans-serif;
    text-shadow: -4px 0px 1px var(--dark-orchid);
}

.fa-trash, .fa-check, .fa-pen-to-square {
    pointer-events: none;
}
